%form.form-inline(action="/custom" method="POST")
  %label(for="url")
  %input(type="text" name="url" id="url" placeholder="Introduzca la URL origen")
  %input(type="text" name="custom_url" id="custom_url" placeholder="Nombre personalizado")
  %input.btn.btn-info(type="submit" value="Generar URL")