%form.form-inline(action="/new" method="POST")
  %label(for="url")
  %input(type="text" name="url" id="url" placeholder="Introduzca la URL origen")
  %input.btn.btn-info(type="submit" value="Generar URL")